/* additional styles for the Bootstrap lab */
/* note that we do not need to import reset.css here because Bootstrap already resets
the browser default styles before applying their own */

.col-pic {
	float: left;
	width: 100px;
	margin-right: 1em;
	margin-bottom: 1em;
}